.hide {
  display: none;
}

.show {
  display: flex;
}

.card-current {
  width: 100%;
}
.favorable {
  background-color: green;
}

.moderate{ 
  background-color: yellow;
}

.severe {
  background-color: red;
}

#uviSpan{
  width: 15px;
  border: white;
  border-radius: 2px;
}
#head {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

h3 {
  word-spacing: 2px;
}

sidebar {
  display: flex;
  flex-direction: column;
  width: 100%
}